<%= stylesheet_link_tag "user-profile", "data-turbo-track": "reload" %>
<%= turbo_frame_tag "#{dom_id(user)}_header_section_frame" do %>
  <%= form_with(model: user, id: "#{dom_id(user)}_header_section_frame_form", class:"edit-form") do |form| %>
    <% if current_user.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :avatar, class:"label" %>
      <% if user.avatar.attached? %>
          <div class="avatar-container">
              <%= image_tag(user.avatar) %>
          </div>
          <%= form.file_field :avatar, value: user.avatar %>
      <% else %>
          <%= form.file_field :avatar %>
      <% end %>
    </div>

    <div>
      <%= form.label :backdrop, class:"label" %>
      <% if user.backdrop.attached? %>
          <div class="backdrop-container">
              <%= image_tag(user.backdrop) %>
          </div>
          <%= form.file_field :backdrop, value: user.backdrop %>
      <% else %>
          <%= form.file_field :backdrop %>
      <% end %>
    </div>

    <div>
      <%= form.label :headline, class:"label" %>
      <%= form.text_field :headline, class:"text-input long", maxlength: 70, value: user.headline %>
    </div>
    <div>
      <%= form.label :location, class:"label" %>
      <%= form.text_field :location, class:"text-input", maxlength: 35, value: user.location %>
    </div>
    <div class="submit-container">
      <%= form.submit class:"submit-button" %>
    </div>
  <% end %>
<% end %>