<div class="user-container">
    <%= link_to user, class:"user" do %>
        
        <% if user.avatar.attached? %>
            <%= image_tag(user.avatar) %>
        <% else %>
            <%= image_tag("missing-avatar.png") %>
        <% end %>
        <div class="info-container">
            <p class="name"><%= "#{user.first_name} #{user.last_name}"%><p>
            <p class="headline"><%= user.headline %><p>
            <p class="location"><%= user.location %><p>
        </div>
        
    <% end %>

</div>