<h2> <%= @user.username %> </h2>
<%= @user.email %>
<p><%= @user.bio %></p>

<% if @user.avatar.attached? %>
    <div><%= image_tag(@user.avatar, size: "50") %></div>
<% end %>
<p><%= @user.followers.count %> Followers </p>
<p><%= @user.following.count %> Following </p>
<% if current_user %>
    <%= render "follow_button", this_user: current_user, other_user: @user %>
<% end%>