<%= stylesheet_link_tag "job-posts", "data-turbo-track": "reload" %>
<%= form_with(model: job_post, class:"form") do |form| %>
  <% if job_post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(job_post.errors.count, "error") %> prohibited this job_post from being saved:</h2>

      <ul>
        <% job_post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location %>
  </div>
  <div>
    <%= form.label :company_id, "Company", style: "display: block" %>
    <%= form.collection_select :company_id, Company.all, :id, :title, prompt: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
