<%= stylesheet_link_tag "social-posts", "data-turbo-track": "reload" %>
<%= turbo_frame_tag "#{dom_id(user)}_new_post_bar" do %>
  <%= form_with(model: social_post,data: { turbo: 'false' }, id: "new_post_form") do |form| %>
    <% if social_post.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(social_post.errors.count, "error") %> prohibited this social_post from being saved:</h2>

        <ul>
          <% social_post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :content, class:"label" %>
      <%= form.text_area :content,minlength:1,maxlength: 700, class:"text-input long",:required => true,value:"" %>
    </div>

    <div>
      <%= form.label :image, class:"label" %>
      <%= form.file_field :image %>
    </div>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <div class="submit-container">
      <%= form.submit class:"submit-button" %>
    </div>
  <% end %>
<% end %>