
<%= turbo_frame_tag dom_id(social_post) do %>
  <div class="social_post">
    <div class="header">
      <% if social_post.image.attached? %>
        <%= image_tag(social_post.image) %>   
      <% end%>
      <p>
        <strong>User:</strong>
        <%= link_to(social_post.user.username, social_post.user)%>
      </p>
    </div>
    <div class="content">
      <p><%= social_post.content %></p>
      <% if social_post.image.attached? %>
        <%= image_tag(social_post.image) %>
      <% end%>
    </div>
    <div class="data-footer">
      <p><%= social_post.likes.count %> Likes</p>
    </div>
    <p><%#= social_post.hits %></p> 
    <div class="actions-footer"> 
      <% if current_user %>
        <% if current_user != social_post.user %>
          <%= render "like_button", this_user: current_user, social_post: social_post %>
        <% end %>
      <% end %>
      
    </div>
  </div>
<% end %>