
<%= turbo_frame_tag dom_id(social_post) do %>
  <div class="social_post">
    <div class="social_post_top_section">
      <%= turbo_frame_tag "#{dom_id(social_post)}_user", data: { turbo: 'false' } do %>
        <%= link_to social_post.user do %>
          <div class="header">
              <% if social_post.user.avatar.attached? %>
                <%= image_tag(social_post.user.avatar) %>
              <% else %>
                <%= image_tag("missing-avatar.png") %>
              <% end %>
              <div class="info">
                <p class="username"><%= social_post.user.first_name %> <%= social_post.user.last_name %></p>
                <p class="headline"><%= social_post.user.headline %> </p>
                <p class="creation-date"><%= time_ago_in_words(social_post.created_at.to_time)%> ago</p>
              </div>
              
          </div>
        <% end %>
      <% end %>
      <% if current_user %>
        <% if social_post.user == current_user || current_user.admin? %>
          <%= button_to social_post_path(social_post), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this post?",turbo_frame: "_top"}, method: :delete, class: "delete-button" do %>
            <div class="icon-container">
                <i class="fa-solid fa-trash-can icon"></i>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="content">
      <%= simple_format(social_post.content) %>
      <% if social_post.image.attached? %>
        <%= image_tag(social_post.image) %>
      <% end%>
    </div>
    <div class="data-footer">
      <p><%= social_post.likes.count %> Likes</p>
      <%= link_to "#{social_post.comments.count} comments", show_comments_social_post_path(social_post), data: {turbo_frame: "#{dom_id(social_post)}_comments_frame", action: "replace",turbo_method: :get}, class:"comments-count" %>
    </div>
    <p><%#= social_post.hits %></p> 
    <div class="actions-footer"> 
      <% if current_user %>
        <% if current_user != social_post.user %>
          <%= render "like_button", this_user: current_user, social_post: social_post %>
        <% end %>
        <%= render "comment_button", social_post: social_post %>
      <% end %>
    </div>
    <%= turbo_frame_tag "#{dom_id(social_post)}_comment_frame"%>
    <%= turbo_frame_tag "#{dom_id(social_post)}_comments_frame"%>
  </div>
<% end %>