<%= stylesheet_link_tag "social-posts", "data-turbo-track": "reload" %>
<div class=page-content>
  <div class="welcome">
    <div>
      <%= image_tag("trey.jpg",class:"trey-image") %>
    </div>
    <p>
      </br>Hi, my name is Trey Dettmer. Welcome to LonkedOn!</br></br>I created this application
      in three weeks as a way to familiarize myself with the Ruby on Rails framework. 
      I tried to emulate the base features and appearance of the popular online job board website which inspired LonkedOn. All jobs and companies are fictional.
      </br></br>I have populated the website with fake users and myself. For security and management reasons,
      I am not allowing any new user accounts to be created. However, you can watch what the user experience is like in <a href="https://www.youtube.com/watch?v=40PpYuyoNvs" >this video</a>.
      </br></br>You can check out more of my work at <a href="https://treydettmer.github.io/portfolio/" >my portfolio</a>.
    </p>
  </div>

  <%= turbo_frame_tag :results, data: { turbo_action: 'advance' } do %>
    <div id="social_posts" class="social_posts_container">
      <% if current_user %>
        <%= turbo_frame_tag "#{dom_id(current_user)}_new_post_bar", class:"new-post-bar" do %>
          <%= turbo_frame_tag "#{dom_id(current_user)}_new_post_bar_image", data: { turbo: 'false' }, class:"image" do %>
            <%= link_to(current_user, class:"image")  do %>
              <% if current_user.avatar.attached? %>
                <%= image_tag(current_user.avatar) %>
              <% else %>
                <%= image_tag("missing-avatar.png") %>
              <% end %>
            <% end %>
          <% end %>
          <%= link_to build_a_new_social_post_social_post_path(current_user), data: {turbo_frame: "#{dom_id(current_user)}_new_post_bar", action: "replace",turbo_method: :get }, class:"prompt-container"  do %>
            <p>Start a post</p>
          <% end%>
        <% end %>
      <% end %>
    </div>
    <%= turbo_frame_tag :pagination, loading: :lazy, src: social_posts_path(format: :turbo_stream) %>
  <% end %>
</div>