<p style="color: green"><%= notice %></p>

<%= render @social_post %>

<div>
  <% if @social_post.user_id == current_user.id%>
    <%= link_to "Edit this social post", edit_social_post_path(@social_post) %> |
  <% end %>
  
  <%= link_to "Back to social posts", social_posts_path %>
  <% if @social_post.user_id == current_user.id%>
    <%= button_to "Destroy this social post", @social_post, method: :delete %>
  <% end %>
</div>
