
<%= stylesheet_link_tag "navbar", "data-turbo-track": "reload" %>
<%= turbo_frame_tag "navbar", data: { turbo: 'false' }, class:"navbar" do %>
    <ul>
        <li>
            <%= link_to social_posts_path do %>
                <%= image_tag("LonkedOn-logo.png", class:"main")%>
            <%end%>
        </li>
        <li class="search-bar">
            <%= search_form_for(@q, url: profiles_index_path, class:"search-form", method: :get) do |form|%>
                <i class="fa-solid fa-magnifying-glass fa-sm icon"></i>
                <%= form.search_field :full_name_cont, placeholder: "Search people"%>
            <% end %>
        </li>
        <li>
            <%= link_to social_posts_path,class:"#{is_active('social_posts')}"  do %>
                <i class= 'fa-solid fa-house fa-lg icon'></i>
                <p>Home</p>
            <%end%>
        </li>
        <li>
            <%= link_to job_posts_path,class:"#{is_active('job_posts')}" do %>
                <i class="fa-solid fa-briefcase fa-lg icon"></i>
                <p>Jobs</p>
            <%end%>
        </li>
        <% if user_signed_in? %>
            <% if current_user.admin? %>

            <% end %>
            <li>
                <%= link_to current_user,class:"#{is_active('users/'+current_user.id.to_s)}" do %>
                    <% if current_user.avatar.attached? %>
                        <%= image_tag(current_user.avatar)%>
                    <% else %>
                        <%= image_tag("missing-avatar.png")%>
                    <% end %>
                    <p>Me</p>
                <%end%>
            </li>

            <li class="special-li"><%= button_to("Log Out", destroy_user_session_path, class:"logout-button", method: :delete) %></li>     
        <% else %>
            <li class="special-li"><%= link_to "Sign up or Log In", new_user_registration_path, class:"signup-link" %></li>
        <% end %>
    </ul>
<%end%>
