<!DOCTYPE html>
<html>
  <head>
    <title>LonkedOn</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('LonkedOn-logo-icon.png') %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <% if current_user %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%# <%= render 'layouts/footer' %>
  </body>
</html>
